<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Típicas - Pará e Paraná Bar</title>
    <link rel="stylesheet" href={% static "estilo.css" %}>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <div class="logo">
                    <h1>Pará e Paraná Bar</h1>
                </div>
                <ul class="nav-menu">
                    <li><a href="{% url "index" %}">Início</a></li>
                    <li><a href="{% url "cardapio_comida" %}">Cardápio</a></li>
                    <li><a href="{% url "cardapio_tipica" %}">Cardápio típicas</a></li>
                    <li><a href="{% url "catalogo_jogo" %}">Jogos</a></li>
                    <li><a href="{% url "index" %}#sobre">Sobre</a></li>
                    <li><a href="{% url "index" %}#contato">Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="cardapio-container">
            <div class="cardapio-header">
                <h1>Nossas comidas e bebidas</h1>
            </div>

            {% for categoria in categorias %}
                <div class="cardapio-category">
                    <h2>{{ categoria.nome_categoria }}</h2>

                    <div class="cardapio-grid">
                        {% for prato in pratos %}
                            {% if prato.tipico == True %}
                                {% if prato.categoria == categoria %}
                                    <div class="cardapio-opcoes">
                                        <div class="cardapio-opcoes-content">
                                            <h3>{{ prato.nome_prato }}</h3>

                                            {% if prato.imagem_prato %}
                                            <div class="cardapio-opcoes-image">
                                                <img src="{{ prato.imagem_prato.url }}" alt="{{ prato.nome_prato }}">
                                            </div>
                                            {% endif %}

                                            <p>{{ prato.descricao_prato|default:"Sem descrição." }}</p>

                                            {% if prato.ingredientes_prato %}
                                            <p><strong>Ingredientes:</strong> {{ prato.ingredientes_prato }}</p>
                                            {% endif %}

                                            <p class="preco">R$ {{ prato.preco_prato }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>

    <footer id="contato" class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Pará e Paraná Bar</h3>
                    <p>O mais gostoso do Pará e Paraná em um só lugar!</p>
                </div>
                 <div class="footer-bottom">
                    <div class="footer-column">
                        <h3>Contatos</h3>
                        <p>Rua Londrina , 1836 - Parque do Iguaçu</p>
                        <p>(94) 982527451</p>
                        <p>(45) 982527451</p>
                        <p>marcusnunes@alunos.utfpr.edu.br</p>
                        <p>carloskrupek@alunos.utfpr.edu.br</p>
                    </div>
                    <div class="footer-column">
                        <h3>Saiba nossos horários</h3>
                        <p>Terça a Quinta: 18h às 22h</p>
                        <p>Sexta à Sábado: 18h às 5h</p>
                        <p>Domingo: 15h às 5h</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
