<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pará e Paraná Bar</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <div class="logo">
                    <h1>Pará e Paraná Bar</h1>
                </div>
                <ul class="nav-menu">
                    <li><a href="{% url "index" %}">Início</a></li>
                    <li><a href="{% url "cardapio_comida" %}">Cardápio</a></li>
                    <li><a href="{% url "cardapio_tipica" %}">Cardápio típicas</a></li>
                    <li><a href="{% url "catalogo_jogo" %}">Jogos</a></li>
                    <li><a href="{% url "index" %}#sobre">Sobre</a></li>
                    <li><a href="{% url "index" %}#contato">Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="sobre" class="about">
        <div class="container">
        <h2>Sobre o Pará e Paraná Bar</h2>

            <!-- Primeiro bloco: imagem esquerda -->
            <div class="about-row">
                <img src="{% static "/imagens/Fora_bar.png" %}" alt="Fachada do bar" class="about-img">
                <p>Bem-vindo ao <strong>Pará e Paraná Bar</strong>, um espaço único onde tradição e sabor se encontram. Mais do que um bar, somos um verdadeiro ponto de encontro entre o calor amazônico e a hospitalidade do sul. Nossa missão é oferecer um ambiente vibrante e acolhedor, perfeito para brindar, celebrar e se divertir.</p>
            </div>

            <!-- Segundo bloco: imagem direita -->
            <div class="about-row">
                <p>No <strong>Pará e Paraná Bar</strong>, diversão nunca falta: temos uma estante recheada com mais de 100 jogos de tabuleiro, dos clássicos que todo mundo adora até as últimas novidades do mercado. Seja você iniciante ou veterano, sempre vai encontrar algo para jogar. E se pintar dúvida, nossa equipe está pronta para ensinar as regras e fazer a diversão rolar solta.</p>
                <img src=" {% static "/imagens/Dentro_bar.png" %}" alt="Mesas de jogos" class="about-img">
            </div>
        </div>
    </section>


        <section class="highlights">
            <div class="container">
                <h2>Conheça nosso diferencial!</h2>
                <div class="highlights-grid">
                    <div class="highlight-card">
                        <h3>Jogos de tabuleiro muito divertidos!</h3>
                        <p>Uma variedade de jogos para jogar com amigos e família!</p>
                    </div>
                    <div class="highlight-card">
                        <h3>Comidas típicas do Pará e Paraná</h3>
                        <p>Várias opções desde o açaí paraense até a carne de onça curitibana!</p>
                    </div>
                    <div class="highlight-card">
                        <h3>Comidas clássicas de bar</h3>
                        <p>Não gosta de comidas típicas? Não tem problema, ainda temos nossas comdias clássicas! </p>
                    </div>
                    <div class="highlight-card">
                        <h3>Sugestões de melhora?</h3>
                        <p>Envie suas sugestões pelo nosso <a href="index.html#contato">formulário de contato</a> ou fale diretamente com nossa equipe.</p>
                    </div>
                </div>
        </section>
    </main>

    <footer id="contato" class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Pará e Paraná Bar</h3>
                    <p>O mais gostoso do Pará e Paraná em um só lugar!</p>
                </div>
                <div class="footer-bottom">
                    <div class="footer-column">
                        <h3>Contatos</h3>
                        <p>Rua Londrina , 1836 - Parque do Iguaçu</p>
                        <p>(94) 982527451</p>
                        <p>(45) 982527451</p>
                        <p>marcusnunes@alunos.utfpr.edu.br</p>
                        <p>carloskrupek@alunos.utfpr.edu.br</p>
                    </div>
                    <div class="footer-column">
                        <h3>Saiba nossos horários</h3>
                        <p>Terça a Quinta: 18h às 22h</p>
                        <p>Sexta à Sábado: 18h às 5h</p>
                        <p>Domingo: 15h às 5h</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
